@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   word-wrap: break-word;
}
.s{
    max-width: 100%;
    overflow-x: hidden;
}
.inicio{                   
    width: 100%;
    height: 600px;
    animation: inicio 10s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.palabras{
    text-align: center;
    color: #6a6a6a;
}

@keyframes inicio{
    0% , 20%{
        background-image: url(../img/rutadelasflores.jpg);
    }
     25% , 45%{
        background-image: url(../img/el\ carmen.png);
    }
     50% , 70%{
        background-image: url(../img/sheraton.jpg);
    }
    75% , 100%{
        background-image: url(../img/eltunco.jpg);
    }
}

.capita{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0,0.6);
}

.informacion{
    z-index: 1;
    width: 100%;
    max-width: 550px;
    text-align: center;
}

.informacion h1{
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.informacion p{
    color: #c7c7c7;
    line-height: 1.7;
    margin-bottom: 30px;
}

/*Cards*/
.contenido-tarjetas{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}

.tarjetas{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: left;
	color: #7a7a7a;
}

.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 10px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 10px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}



/* TODA LA PARTE 2  */
.igle{
    background: #967c59;
}

.igle .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:0rem;
    margin: 0%;
    padding-bottom: 3rem;
    width:100%;
}

.igle .row .video-container{
    flex:1 1 40rem;
    position: relative;
    padding: 0%;
    width:100%;
}

.igle .row .video-container video{
    width:100%;
    border:1.5rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 10%;
    object-fit: cover;
    margin: 0%;
}

.igle .row .content{
    flex:1 1 40rem;
    padding-left: 10%;
    padding-right: 10%;
}

.igle .row .content h3{
    font-size: 3rem;
    color:#fff;
}

.igle .row .content p{
    font-size: 1.0rem;
    font-family: 'Poppins', sans-serif;
    color:#fff;
    padding:.5rem 0;
    padding-top: 2.5rem;
    line-height: 1.5;
}

.btn{
    display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	background-color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	margin-bottom: 5px;
}

.btn:hover{
    background-color: #2fb4cc;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.contenido-tarjetas{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}

@media (max-width:450px){

    .heading{
        font-size: 3rem;
    }

}

.imgPlan{
    max-width: 250px;
    max-height: 150px;
    margin-top: 10px;
}
.planes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.planes > *{
    flex: 1 1;
}

.plan{
    background: transparent;
    text-align: center;
    cursor: pointer;
    min-width: 310px;
    font-size: 1.2em;
    font-weight: bold;
    
}
.plan:hover{
    transform: scale(1.1);
}

.plan figcaption{
    padding: 1em;
}

.conf{
    background-color: #b8e8b8;
}
.fracaso{
    background-color: #ffcaca;
}